@page "/{*route}"

@if (startMode)
{
	<input type="text" @bind="dl" />
	<button @onclick="Download">Download</button>
}
else
{
	
}
@code{
	private string dl;
	private bool startMode = true;
	[Parameter]
	public string Route { get; set; }
	async void Download()
	{
		var dt = await YoutubeConverterWebsite.Backend.ConverterHelper.GetUrl(dl);
		StateHasChanged();
	}
}